 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="account-wall" style="padding: 20px;">
                    <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Cadastro de Veículo</legend>
                    <form action="#" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="placa" placeholder="Placa" type="text" required="" autofocus="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="prefixo" placeholder="Prefixo" type="text" required="">
                            </div>
                        </div>
                        <input class="form-control" name="chassi" placeholder="Chassi" type="text" required="">

                        <input class="form-control" name="limitecombustiveldiario" placeholder="Limite Combustivel" type="number" required="">
                        
                        <input class="form-control" name="nomecliente" placeholder="Nome do Cliente" type="text" required="">

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Gravar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

    $('input[name="nomecliente"]').typeahead({
          remote: '../data/films/queries/%QUERY',
          prefetch: '../data/countries.json',
          template:
            '<div class="media"> <a class="pull-left" href="#"><img class="media-bject dp img-circle" src="stylesheets/img/photo.jpg" style="width: 50px;"></a><div class="media-body"><h4 lass="mediaheading">{{name}}<small> {{language}}</small></h4><h5>{{description}}</h5><hr style="margin:8px auto"></div></div>',
          engine: Hogan                                                               
        });
    </script>