 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="account-wall" style="padding: 20px;">
                    <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Entrada de Combustível</legend>
                    <form action="#" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="nf" placeholder="N.F." type="text" required="" autofocus="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="dataemissao" placeholder="Data de Emissão" type="date" required="" >
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="placacaminhao" placeholder="Placa do Caminhão" type="text" required="" >
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="distribuidora" placeholder="Distribuidora" type="text" required="">
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="qtdelistros" placeholder="QTDE em Litros" type="text" required="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="valorcusto" placeholder="Valor de Custo" type="text" step="any" required="" >
                            </div>                        
                        
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="tipocombustivel" placeholder="Tipo Compustível" type="text" required="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="total" placeholder="Total" type="text" required="" ng-disabled="true" value="0,00">
                            </div>
                        </div>

                        <textarea class="form-control" name="password" placeholder="Descrição/Histórico" type="password" ></textarea>

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Ok</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <script type="text/javascript">
    $('input[name="tipocombustivel"]').typeahead({
          remote: '../data/films/queries/%QUERY',
          prefetch: '../data/tipocombustivel.json',
          template:
            '<div class="media-body"><h4 lass="mediaheading">{{name}}</h4><hr style="margin:8px auto"></div>',
          engine: Hogan                                                               
        });

     $('input[name="distribuidora"]').typeahead({
          remote: '../data/films/queries/%QUERY',
          prefetch: '../data/distribuidora.json',
          template:
            '<div class="media-body"><h4 lass="mediaheading">{{name}}</h4><hr style="margin:8px auto"></div>',
          engine: Hogan                                                               
        });
    </script>