<div class="container">
        <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <img src="stylesheets/img/logo_fenatral.png" alt="" style="">
        </div>
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Sistema de Abastecimento</h1>
                <div class="account-wall">                                
                    <img class="profile-img" src="stylesheets/img/photo.jpg" alt="">
                    <form class="form-signin">
                        <input type="text" class="form-control" placeholder="Login" required="" autofocus="" ng-model="login.user">
                        <input type="password" class="form-control" placeholder="Senha" required="" ng-model="login.password">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="autenticar()">
                            Entrar</button>
                        
                        <a href="#/remember-password" class="pull-right need-help">Relembrar senha </a>
                        <span class="clearfix"></span>
                    </form>
                </div>
                <a href="#/create-account" class="text-center new-account">Criar Login</a>
            </div>
        </div>
    </div>
