<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="account-wall" style="padding: 20px;">
                    <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Relembrar Senha</legend>
                    <form action="#" method="post" class="form" role="form">

                        <input class="form-control" name="youremail" placeholder="Email" type="email" required="">
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Enviar email com a nova senha</button>
                    </form>
                </div>
            </div>
        </div>
    </div>