html,body{
   background: #FFFFFF url('../img/bg.jpg') center 0 fixed;
   margin:0 auto;
   font-size: 13px;
   font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
   font-weight:bold;
 }
.navbar a{
    color:rgb(0,0,0);
}
.navbar-nav>li>a {
    line-height: 25px;
}
.nav>li>a:hover{
    color:#fff;
    background-color: rgb(177, 65, 54);
}

.nav .active a{
    color: rgb(177, 65, 54);
}

.box{
    border-radius: 30px;
 }
.boxheader{
    border-radius: 30px;
    background-color:rgba(255,255,255,0.3);
}
.navbar-toggle {
   background-color:rgb(177, 65, 54);
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}

 .bg-rigth{
   
    background: transparent url('../img/bg-logo-rigth.jpg') right 0 no-repeat;
 }
 .bg-left{
    border-radius: 30px;
    background: transparent url('../img/bg-logo-left.jpg') left 0 no-repeat;
 }
 
 @media (max-width: 768px) {
    .bg-rigth , .bg-left{
        background: none;
    }

 }



