#gen-doc{text-align:center;width:100%}
.gen-conteudo{margin:0 auto!important;min-width:978px;width:80em;text-align:left;}
.gen-bloco{overflow:hidden;width:100%}
.gen-grid-1,.gen-grid-2,.gen-grid-3,.gen-grid-4,.gen-grid-5,.gen-grid-6,.gen-grid-7,.gen-grid-8,.gen-grid-9,.gen-grid-10,.gen-grid-11,.gen-grid-12{display:inline;float:left;margin:0 .833em}
.gen-grid-1{min-width:60px;width:5em}
.gen-grid-2{min-width:140px;width:11.665em}
.gen-grid-3{min-width:220px;width:18.333em}
.gen-grid-4{min-width:300px;width:25em}
.gen-grid-5{min-width:380px;width:31.665em}
.gen-grid-6{min-width:460px;width:38.333em}
.gen-grid-7{min-width:540px;width:45em}
.gen-grid-8{min-width:620px;width:51.665em}
.gen-grid-9{min-width:700px;width:58.333em}
.gen-grid-10{min-width:780px;width:65em}
.gen-grid-11{min-width:860px;width:71.665em}
.gen-grid-12{min-width:940px;width:78.333em}
.gen-primeiro{margin-left:0}
.gen-ultimo{margin-right:0}
body{font:x-small arial,helvetica,freesans,sans-serif;*font-size:1.25ex}
#gen-doc{font-size:1.2em}
select,input,textarea{font:.99em arial,helvetica,clean,sans-serif}
*{background:transparent;font-family:inherit;font-size:100%;margin:0;outline:0;padding:0}
body{background:#fff;line-height:1}table{border-collapse:collapse;border-spacing:0}
legend,hr{display:none}
li{list-style:none}
a{text-decoration:none}
caption,th{text-align:left}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
blockquote,q{quotes:"" ""}
abbr,acronym,img,fieldset{border:0}
.clear{
	clear:both;
}
/****************************************************
Topo
****************************************************/
.topo{
	background:url(../img/fundo_topo.png);
	background-repeat:repeat-x;
	height:120px;
	border-top:3px solid #1e4e7f;
}

.logo{
	margin-top:10px;
	float:left;
}

.fone{
	float:right;
	font-size:30px;
	color:#1e4e7f;
	margin-top:30px;
	font-weight:100;
}


#menu{
  float:right;
  position:relative;
  margin:14px 0 0px 0px;
  width:680px;
  height:45px;
  background:url(../img/menu.png) no-repeat 11px 3px;
}
#menu ul{
  list-style:none;
  text-indent:-9999em;

}
#menu li{
	position:absolute;
	height:45px;
	top: 1px;
}
#menu li a{
	  display:block;
	  text-decoration:none;
	  width:100%;
	  height:100%;
	  top:0;
}
#menu li.m_home{
	width:95px;
	left:3px;
}
#menu li.m_sobre{
	width:145px;
	left:93px;
}
#menu li.m_produtos{
	width:100px;
	left:248px;
}
#menu li.m_clube{
	width:135px;
	left:348px;
}
#menu li.m_contato{
	width:99px;
	left:478px;
}
#menu li.m_parceiros{
	width:115px;
	left:585px;
}

#menu li.m_home:hover{
	background:url(../img/menu.png) no-repeat 8px -116px;
}
#menu li.m_sobre:hover{
	background:url(../img/menu.png) no-repeat -82px -116px;
}
#menu li.m_produtos:hover{
	background:url(../img/menu.png) no-repeat -237px -116px;
}
#menu li.m_clube:hover{
	background:url(../img/menu.png) no-repeat -337px -116px;
}
#menu li.m_contato:hover{
	background:url(../img/menu.png) no-repeat -467px -116px;
}
#menu li.m_parceiros:hover{
	background:url(../img/menu.png) no-repeat -574px -116px;
}
#menu li.m_home.selected{
	background:url(../img/menu.png) no-repeat 8px -56px;
}
#menu li.m_sobre.selected{
	background:url(../img/menu.png) no-repeat -92px -56px;
}
#menu li.m_produtos.selected{
	background:url(../img/menu.png) no-repeat -237px -56px;
}
#menu li.m_clube.selected{

	background:url(../img/menu.png) no-repeat -337px -56px;
}
#menu li.m_contato.selected{

	background:url(../img/menu.png) no-repeat -469px -56px;
}
#menu li.m_parceiros.selected{

	background:url(../img/menu.png) no-repeat -572px -56px;
}


/****************************************************
Banner
****************************************************/
#banner{
	padding-top:10px;
}
.banner_principal_fundo{
	background:url(../img/banner_background.png);
	height:255px;
}

.banner_internas_fundo{
	background:url(../img/banner_background_interna.png);
	background-repeat:repeat-x;
	height:185px;

}

/****************************************************
Sub-banner
****************************************************/
.sub-banner, .sub-banner-margin{
	float:left;
	width:225px;
	margin:30px 0px 20px 0px;
	
}
.sub-banner-margin{
	margin:30px 0px 20px 25px;
}

.sub-banner-titulo{
	background-image:url(../img/sub-banners-titulos.png);
	height:16px;
	padding:18px;
	text-align:center;
	font-size:18px;
}

#principal a .sub-banner, .sub-banner-margin{
	text-decoration:none;
	color:#999;
	border-radius:10px;
}

#principal a .sub-banner:hover, .sub-banner-margin:hover{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.9);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.9);
	box-shadow: 0 1px 3px rgba(0,0,0,.9);
}


.sub-banner-texto{
	padding:10px;
	background:#f5f5f5;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-radius:0px 0px 10px 10px;
	font-size:13px;
	line-height:16px;
	text-align:justify;
	
}

.footer{
	background:url(../img/background_footer.png);
	height:122px;
	clear:both;
}

.footer_texto{
	float:left;
	width:240px;
	color:white;
	font-size:14px;
	margin-top:37px;
	line-height:18px;
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #ccc;
}


/****************************************************
Internas
****************************************************/
.box_esquerda{
	float:left;
	width:600px;
	margin-bottom:20px;
	margin-top:20px;

}

.box_direita{
	float:right;
}

.titulo{
	font-size:18px;
	color:#1e4e7f;
}
.texto{
	font-size:14px; 
	line-height:20px;
	color:#666;
	text-align:justify;
	margin-bottom:20px;
}

.faixa_quadrinhos{
	background:url(../img/borda_quadrinhos.png);
	clear:both;
	height:18px;
	background-repeat:no-repeat;
	width:500px;
	margin:5px 0px;
}

.formulario_contato, .formulario_contato_texto{
	padding:5px;
	border:1px solid #CCC;
	border-radius:3px;
	width:500px;
	margin-bottom:20px;
}

.formulario_contato_texto{
	height:200px;
}

.formulario{
	font-size:12px;
	color:#999999;
}

.formulario_descricao{
	float:left;
	padding-top:5px;
}

.botao_enviar{
	background-image:url(../img/botao.png);
	padding:15px 29px;
	color:#FFF;
	font-size:16px;
	border:none;
	margin-left:65px;
	
}

.imagem_produto{
	height:200px;
	width:200px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	border:1px solid #999;
	
}

.texto_contato{
	font-size:20px;
	color:#1e4e7f;
	float:left;
	margin-bottom:10px;

}


/********************
Login
********************/
.login{
	background:#f5f5f5;
	border:1px solid #ccc;
	padding:10px;
	border-radius:5px;
	float:left;
	margin-bottom:20px;
	font-size:14px;
	color:#999;
}

.form_text{
	width:300px;
	border-radius:5px;
	padding:10px;
	font-size:12px;
	border:1px solid #CCC;
	margin:5px;
}

.login p{
	font-size:12px;

}