<div class="container">
<div class="row">
   <div class="col-md-12" ng-show="erro.messages.length ">
      <div class="alert alert-block alert-error fade in">
         <button class="close" aria-hidden="true">×</button>
         <p>ERRO :: </p> <p ng-bind="erro.messages[erro.messages.length-1]"></p>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <button type="submit" class="btn btn-success" ng-click="imovelIndex = novo(imovels)">Novo</button>
      <!-- BASIC -->
      <div class="box border orange" ng-show="imovels[imovelIndex]">
         <div class="box-title">
            <h4><i class="fa fa-bars"></i>Cadastro de Imóveis ({{imovels[imovelIndex].titulo}})</h4>
         </div>
         <div class="box-body big" >
            <h3 class="form-title">Imóvel</h3>
            <form role="form">
               <div class="col-lg-12">
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <div class="tabbable">
                           <ul class="nav nav-pills nav-justified">
                              <li class="active"><a href="#tab_3_1" data-toggle="tab">Básico</a></li>
                              <li><a href="#tab_3_2" data-toggle="tab">Números</a></li>
                              <li><a href="#tab_3_3" data-toggle="tab">Valores</a></li>
                              <li><a href="#tab_3_4" data-toggle="tab">Endereço</a></li>
                              <li><a href="#tab_3_5" data-toggle="tab">Proprietário</a></li>
                              <li><a href="#tab_3_6" data-toggle="tab">Tags</a></li>
                              <li><a href="#tab_3_7" data-toggle="tab">Imagens</a></li>
                           </ul>
                           <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab_3_1">
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Título</label>
                                    <input type="text" class="form-control"  placeholder="Título" ng-model="imovels[imovelIndex].titulo">
                                 </div>
                                 <div class="form-group col-lg-6">
                                 
                                    <label for="exampleInputEmail1">Transação</label>
                                     <select class="form-control" ng-model="imovels[imovelIndex].transacao">
    								  <option>Venda</option>
    								  <option>Aluguel</option>
    								</select>
    							</div>
    							 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Tipo</label>
                                    <input type="text" class="form-control"  placeholder="Apartamento, Casa, Sobrado etc.." ng-model="imovels[imovelIndex].tipo">
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputPassword1">Descrição</label>
                                    <textarea type="text" class="form-control"  placeholder="Descrição" ng-model="imovels[imovelIndex].descricao"> </textarea>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="tab_3_2">
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputPassword1">Quartos</label>
                                    <input type="number" class="form-control"  placeholder="Quartos" ng-model="imovels[imovelIndex].numeroQuartos">
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputPassword1">Área Útil</label>
                                    <input type="number" class="form-control"  placeholder="Área Útil" ng-model="imovels[imovelIndex].areaUtil">
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputPassword1">Vagas</label>
                                    <input type="number" class="form-control"  placeholder="Vagas" ng-model="imovels[imovelIndex].numeroVagas">
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputPassword1">Suites</label>
                                    <input type="number" class="form-control"  placeholder="Suites" ng-model="imovels[imovelIndex].numeroSuite">
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="tab_3_3">
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Preço -<small> Aluguel ou Venda</small></label>
                                    <div class="input-group">
                                       <span class="input-group-addon">R$</span>
                                       <input type="text" class="form-control" ng-model="imovels[imovelIndex].preco" format="number">
                                    </div>
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">IPTU</label>
                                    <div class="input-group">
                                       <span class="input-group-addon">R$</span>
                                       <input type="text" class="form-control" ng-model="imovels[imovelIndex].valorIPTU" format="number">
                                    </div>
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Condominio</label>
                                    <div class="input-group">
                                       <span class="input-group-addon">R$</span>
                                       <input type="text" class="form-control" ng-model="imovels[imovelIndex].valorCondominio" format="number">
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="tab_3_4">
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Rua</label>
                                    <input type="text" class="form-control"  placeholder="Rua" ng-model="imovels[imovelIndex].rua">
                                 </div>
                                 <div class="form-group col-lg-3">
                                    <label for="exampleInputEmail1">Número</label>
                                    <input type="text" class="form-control"  placeholder="numero" ng-model="imovels[imovelIndex].numero">
                                 </div>
                                 <div class="form-group col-lg-3">
                                    <label for="exampleInputEmail1">CEP</label>
                                    <input type="text" class="form-control"  placeholder="CEP" ng-model="imovels[imovelIndex].cep">
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Complemento</label>
                                    <input type="text" class="form-control"  placeholder="complemento" ng-model="imovels[imovelIndex].complemento">
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Ponto de Referencia</label>
                                    <input type="text" class="form-control"  placeholder="pontoReferencia" ng-model="imovels[imovelIndex].pontoReferencia">
                                 </div>
                                 <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">Bairro</label>
                                    <input type="text" class="form-control"  placeholder="bairro" ng-model="imovels[imovelIndex].bairro">
                                 </div>
                                 <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">Cidade</label>
                                    <input type="text" class="form-control"  placeholder="cidade" ng-model="imovels[imovelIndex].cidade">
                                 </div>
                                 <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">UF</label>
                                    <input type="text" class="form-control"  placeholder="UF" ng-model="imovels[imovelIndex].UF">
                                 </div>
                                 <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">Pais</label>
                                    <input type="text" class="form-control"  placeholder="Pais" ng-model="imovels[imovelIndex].Pais">
                                 </div>
                                 <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">Latitude</label>
                                    <input type="text" class="form-control"  placeholder="Latitude (Opcional)" ng-model="imovels[imovelIndex].lat">
                                 </div>
                                 <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">Longitude</label>
                                    <input type="text" class="form-control"  placeholder="Longitude (Opcional)" ng-model="imovels[imovelIndex].lon">
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="tab_3_5">
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Nome</label>
                                    <input type="text" class="form-control"  placeholder="Nome" ng-model="imovels[imovelIndex].proprietario.nome">
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label for="exampleInputPassword1">Email</label>
                                    <div class="input-group">
                                       <span class="input-group-addon">@</span>
                                       <input type="text" class="form-control" placeholder="Email" ng-model="imovels[imovelIndex].proprietario.email">
                                    </div>
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <button class="btn btn-default" type="button" ng-click="initArray(imovels[imovelIndex].proprietario, 'telefones'); proprietarioTelefoneIndex = novo(imovels[imovelIndex].proprietario.telefones)">Incluir Telefone</button>
                                    <div class="input-group" ng-show="imovels[imovelIndex].proprietario.telefones[proprietarioTelefoneIndex]">
                                       <div class="form-group col-lg-6">
                                          <label for="exampleInputPassword1">Contato</label>
                                          <div class="input-group">
                                             <input type="text" class="form-control" ng-model="imovels[imovelIndex].proprietario.telefones[proprietarioTelefoneIndex].contato">
                                          </div>
                                       </div>
                                       <div class="form-group col-lg-6">
                                          <label for="exampleInputPassword1">Telefones</label>
                                          <div class="input-group">
                                             <input type="text" class="form-control" ng-model="imovels[imovelIndex].proprietario.telefones[proprietarioTelefoneIndex].telefone">
                                          </div>
                                       </div>
                                       <div class="form-group col-lg-4">
                                          <label for="exampleInputPassword1"></label>
                                          <div class="input-group">
                                             <button class="btn btn-primary" type="button" ng-click="imovels[imovelIndex].update().select('proprietarioTelefoneIndex', -1)">Add</button>
                                          </div>
                                       </div>
                                    </div>
                                    <table class="table table-striped">
                                       <thead>
                                          <tr>
                                             <th>Contato</th>
                                             <th>Telefone</th>
                                             <th>Excluir</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="tel in imovels[imovelIndex].proprietario.telefones">
                                             <td>{{tel.contato}}</td>
                                             <td>{{tel.telefone}}</td>
                                             <td class="center hidden-xs "><button class="btn btn-danger" ng-click="imovels[imovelIndex].remove(imovels[imovelIndex].proprietario.telefones, $index)"><i class=" fa fa-trash-o"></i></button></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="tab_3_6">
                                 <div class="form-group col-lg-6">
                                    <div class="form-group col-lg-6">
                                       <label for="exampleInputPassword1"></label>
                                       <div class="input-group">
                                          <button class="btn btn-primary" type="button" ng-click="initArray(imovels[imovelIndex], 'categorias'); categoriaIndex = novo(imovels[imovelIndex].categorias)">Incluir Categoria</button>	  
                                       </div>
                                    </div>
                                    <div class="form-group col-lg-6" ng-show="imovels[imovelIndex].categorias[categoriaIndex]">
                                       <label for="exampleInputEmail1">Categoria</label>
                                       <div class="input-group">
                                          <input type="text" class="form-control"  placeholder="Categoria" ng-model="imovels[imovelIndex].categorias[categoriaIndex].val">
                                          <button class="btn btn-primary" type="button" ng-click="imovels[imovelIndex].update().select('categoriaIndex', -1)">Add</button>
                                       </div>
                                    </div>
                                    <table class="table table-striped">
                                       <thead>
                                          <tr>
                                             <th>Categoria</th>
                                             <th>Excluir</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="categoria in imovels[imovelIndex].categorias">
                                             <td>{{categoria.val}}</td>
                                             <td class="center hidden-xs "><button class="btn btn-danger" ng-click="imovels[imovelIndex].remove(imovels[imovelIndex].categorias, $index)"><i class=" fa fa-trash-o"></i></button></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <div class="form-group col-lg-6">
                                       <label for="exampleInputPassword1"></label>
                                       <div class="input-group">
                                          <button class="btn btn-primary" type="button" ng-click="initArray(imovels[imovelIndex], 'caracteristicas'); caracteristicaIndex = novo(imovels[imovelIndex].caracteristicas)">Incluir Característica</button>	  
                                       </div>
                                    </div>
                                    <div class="form-grou col-lg-12" ng-show="imovels[imovelIndex].caracteristicas[caracteristicaIndex]">
                                        <div class="row">
                                           <label for="exampleInputEmail1">Característica</label>
                                           <div class="input-group col-lg-4">
                                              <input type="text" class="form-control"  placeholder="Característica" ng-model="imovels[imovelIndex].caracteristicas[caracteristicaIndex].chave">
                                           </div>
                                           <label for="exampleInputEmail1">Valor</label>
                                           <div class="input-group col-lg-4">
                                              <input type="text" class="form-control"  placeholder="Valor" ng-model="imovels[imovelIndex].caracteristicas[caracteristicaIndex].valor" >
                                           </div>
                                           <div class="input-group">
                                              <button class="btn btn-primary" type="button" ng-click="imovels[imovelIndex].update().select('caracteristicaIndex', -1)">Add</button>
                                           </div>
                                       </div>
                                    </div>
                                    <table class="table table-striped">
                                       <thead>
                                          <tr>
                                             <th>Chave</th>
                                             <th>Valor</th>
                                             <th>Excluir</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="caracteristica in imovels[imovelIndex].caracteristicas">
                                             <td>{{caracteristica.chave}}</td>
                                             <td>{{caracteristica.valor}}</td>
                                             <td class="center hidden-xs "><button class="btn btn-danger " ng-click="imovels[imovelIndex].remove(imovels[imovelIndex].caracteristicas, $index)"><i class="fa fa-trash-o"></i></button></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                                 <div class="tab-pane fade" id="tab_3_7">
                                 <button class="btn btn-success" type="button" ng-click="initArray(imovels[imovelIndex], 'imagens'); imagemIndex = novo(imovels[imovelIndex].imagens)"><i class="fa fa-plus"></i> Incluir Foto</button>
                                 <div  class="row">
                                     <div class="form-group col-lg-6" ng-show="imovels[imovelIndex].imagens[imagemIndex]">
                                        <label for="exampleInputEmail1">Nome</label>
                                        <input type="text" class="form-control"  placeholder="Nome" ng-model="imovels[imovelIndex].imagens[imagemIndex].nome">
                                        
                                        <span class="btn btn-primary btn-file"><i class="fa fa-arrow-circle-o-up"></i> Selecionar Imagem
                                            <input type="file" class="form-control"  placeholder="Imagem" ng-image64="img.base64">
                                        </span>
                                     </div>
                                     <div class="form-group col-lg-12" ng-show="img.base64">
									    <img ng-src="{{img.base64}}" alt="" class="img-responsive" style="width:100px"/>
									    <br>
									    <button class="btn btn-primary" type="button" ng-click="upload()"><i class="fa fa-arrow-circle-o-up"></i> Enviar</button>
                                     </div>
                                     </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Imagens</h2>
                                                <hr>
                                            </div>
											<div class="col-md-4 col-lg-2 category_1 item" ng-repeat="imagem in imovels[imovelIndex].imagens">
											    <div class="well">
											    	<div class="filter-content" >
													<img ng-src="{{imagem.src}}" alt="" class="img-responsive">
    													<div class="hover">
    														<h4>{{imagem.nome}}</h4>
    														<a class="btn btn-danger hover-link">
    															<i class="fa fa-trash-o" ng-click="imovels[imovelIndex].remove(imovels[imovelIndex].imagens, $index)"></i>
    														</a>
    														<a class="btn btn-warning hover-link colorbox-button" href="{{imagem.src}}" title="{{imagem.nome}}">
    															<i class="fa fa-search-plus"></i> 
    														</a>
    													</div>
												    </div>
												</div>
											</div>
										</div>
                                  
                                    <div class="col-md-12"></div>
                                 <!-- /BOX -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <button type="submit" class="btn btn-success" ng-click="imovels[imovelIndex].update().select('imovelIndex', -1)">Salvar</button>
            </form>
         </div>
      </div>
      <!-- /BASIC -->
   </div>
   <div class="col-md-12">
      <!-- BOX -->
      <div class="box border purple">
         <div class="box-title">
            <h4><i class="fa fa-table"></i>Imóveis</h4>
         </div>
         <div class="box-body">
            <table id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable2_info">
               <thead>
                  <tr role="row">
                     <th width="20%" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" >Título</th>
                     <th width="20%" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" >Tipo</th>
                     <th width="20%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" >Preço</th>
                     <th width="30%" class="hidden-xs sorting" role="columnheader"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >Proprietário</th>
                     <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" >Editar</th>
                     <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" >Excluir</th>
                  </tr>
               </thead>
               <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <tr class="gradeA odd" ng-repeat="imovel in imovels">
                     <td class=" sorting_1">{{imovel.titulo}}</td>
                     <td class=" sorting_1">{{imovel.tipo}}</td>
                     <td class=" ">{{imovel.preco | currency:'R$ '}}</td>
                     <td class="hidden-xs ">{{imovel.proprietario.nome}}</td>
                     <td class="center hidden-xs "><button class="btn btn-warning " ng-click="imovels[$index].select('imovelIndex', $index)"><I class="fa fa-pencil"></I></button></td>
                     <td class="center hidden-xs "><button class="btn btn-danger " ng-click="imovels[$index].remove(imovels, $index)"><I class="fa fa-trash-o"></I></button></td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- /BOX -->
      </div>
   </div>
</div>
<script type="text/javascript" src="js/dropzone/dropzone.min.js"></script>
<script>
		jQuery(document).ready(function() {		
			App.setPage("dropzone_file_upload");  //Set current page
			App.init(); //Initialise plugins and elements
		});
</script>