	<div class="container">
	
    	<div class="row">
    	    <div class="col-md-12">
        	    <div class="alert alert-block alert-{{uimenu.msg.type}} fade in">
        	        <button class="close" aria-hidden="true">×</button>
        	        <p ng-bind="uimenu.msg.text"></p>
        	    </div>
    	    </div>
    	</div>
    	
		<div class="row">
			<div class="col-md-12">
					<!-- BASIC -->
					<div class="box border orange">
						<div class="box-title">
							<h4><i class="fa fa-bars"></i>Cadastro de Menu</h4>
						</div>
						<div class="box-body big">
							<h3 class="form-title">Menu</h3>
							<form role="form">
							  <div class="form-group">
								<label for="exampleInputEmail1">Nome</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome" ng-model="menu.nome">
							  </div>
							  <div class="form-group">
								<label for="exampleInputPassword1">URL</label>
								<input type="text" class="form-control" id="exampleInputPassword1" placeholder="URL ex.: #/home" ng-model="menu.url">
							  </div>
							  <div class="form-group">
								<label for="exampleInputPassword1">Icone</label>
								<select class="form-control input-lg" ng-model="menu.icone" >
								        <option value="fa-users">fa-users</option> VM41:4
                                        <option value="fa-angle-down">fa-angle-down</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-angle-down">fa-angle-down</option> VM41:4
                                        <option value="fa-bell">fa-bell</option> VM41:4
                                        <option value="fa-arrow-circle-right">fa-arrow-circle-right</option> VM41:4
                                        <option value="fa-envelope">fa-envelope</option> VM41:4
                                        <option value="fa-arrow-circle-right">fa-arrow-circle-right</option> VM41:4
                                        <option value="fa-tasks">fa-tasks</option> VM41:4
                                        <option value="fa-arrow-circle-right">fa-arrow-circle-right</option> VM41:4
                                        <option value="fa-angle-down">fa-angle-down</option> VM41:4
                                        <option value="fa-user">fa-user</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-eye">fa-eye</option> VM41:4
                                        <option value="fa-power-off">fa-power-off</option> VM41:4
                                        <option value="fa-tachometer fa-fw">fa-tachometer fa-fw</option> VM41:4
                                        <option value="fa-bookmark-o">fa-bookmark-o</option> VM41:4
                                        <option value="fa-desktop fa-fw">fa-desktop fa-fw</option> VM41:4
                                        <option value="fa-envelope-o fa-fw">fa-envelope-o fa-fw</option> VM41:4
                                        <option value="fa-table fa-fw">fa-table fa-fw</option> VM41:4
                                        <option value="fa-pencil-square-o fa-fw">fa-pencil-square-o fa-fw</option> VM41:4
                                        <option value="fa-th-large fa-fw">fa-th-large fa-fw</option> VM41:4
                                        <option value="fa-bar-chart-o fa-fw">fa-bar-chart-o fa-fw</option> VM41:4
                                        <option value="fa-columns fa-fw">fa-columns fa-fw</option> VM41:4
                                        <option value="fa-calendar fa-fw">fa-calendar fa-fw</option> VM41:4
                                        <option value="fa-map-marker fa-fw">fa-map-marker fa-fw</option> VM41:4
                                        <option value="fa-picture-o fa-fw">fa-picture-o fa-fw</option> VM41:4
                                        <option value="fa-file-text fa-fw">fa-file-text fa-fw</option> VM41:4
                                        <option value="fa-briefcase fa-fw">fa-briefcase fa-fw</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-print">fa-print</option> VM41:4
                                        <option value="fa-envelope">fa-envelope</option> VM41:4
                                        <option value="fa-power-off">fa-power-off</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-google-plus-square fa-2x">fa-google-plus-square fa-2x</option> VM41:4
                                        <option value="fa-facebook-square fa-2x">fa-facebook-square fa-2x</option> VM41:4
                                        <option value="fa-dribbble">fa-dribbble</option> VM41:4
                                        <option value="fa-windows fa-2x">fa-windows fa-2x</option> VM41:4
                                        <option value="fa-instagram fa-2x">fa-instagram fa-2x</option> VM41:4
                                        <option value="fa-usd fa-2x">fa-usd fa-2x</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-rub">fa-rub</option> VM41:4
                                        <option value="fa-ruble">fa-ruble</option> VM41:4
                                        <option value="fa-rouble">fa-rouble</option> VM41:4
                                        <option value="fa-pagelines">fa-pagelines</option> VM41:4
                                        <option value="fa-stack-exchange">fa-stack-exchange</option> VM41:4
                                        <option value="fa-arrow-circle-o-right">fa-arrow-circle-o-right</option> VM41:4
                                        <option value="fa-arrow-circle-o-left">fa-arrow-circle-o-left</option> VM41:4
                                        <option value="fa-caret-square-o-left">fa-caret-square-o-left</option> VM41:4
                                        <option value="fa-toggle-left">fa-toggle-left</option> VM41:4
                                        <option value="fa-dot-circle-o">fa-dot-circle-o</option> VM41:4
                                        <option value="fa-wheelchair">fa-wheelchair</option> VM41:4
                                        <option value="fa-vimeo-square">fa-vimeo-square</option> VM41:4
                                        <option value="fa-try">fa-try</option> VM41:4
                                        <option value="fa-turkish-lira">fa-turkish-lira</option> VM41:4
                                        <option value="fa-plus-square-o">fa-plus-square-o</option> VM41:4
                                        <option value="fa-adjust">fa-adjust</option> VM41:4
                                        <option value="fa-anchor">fa-anchor</option> VM41:4
                                        <option value="fa-archive">fa-archive</option> VM41:4
                                        <option value="fa-arrows">fa-arrows</option> VM41:4
                                        <option value="fa-arrows-h">fa-arrows-h</option> VM41:4
                                        <option value="fa-arrows-v">fa-arrows-v</option> VM41:4
                                        <option value="fa-asterisk">fa-asterisk</option> VM41:4
                                        <option value="fa-ban">fa-ban</option> VM41:4
                                        <option value="fa-bar-chart-o">fa-bar-chart-o</option> VM41:4
                                        <option value="fa-barcode">fa-barcode</option> VM41:4
                                        <option value="fa-bars">fa-bars</option> VM41:4
                                        <option value="fa-beer">fa-beer</option> VM41:4
                                        <option value="fa-bell">fa-bell</option> VM41:4
                                        <option value="fa-bell-o">fa-bell-o</option> VM41:4
                                        <option value="fa-bolt">fa-bolt</option> VM41:4
                                        <option value="fa-book">fa-book</option> VM41:4
                                        <option value="fa-bookmark">fa-bookmark</option> VM41:4
                                        <option value="fa-bookmark-o">fa-bookmark-o</option> VM41:4
                                        <option value="fa-briefcase">fa-briefcase</option> VM41:4
                                        <option value="fa-bug">fa-bug</option> VM41:4
                                        <option value="fa-building-o">fa-building-o</option> VM41:4
                                        <option value="fa-bullhorn">fa-bullhorn</option> VM41:4
                                        <option value="fa-bullseye">fa-bullseye</option> VM41:4
                                        <option value="fa-calendar">fa-calendar</option> VM41:4
                                        <option value="fa-calendar-o">fa-calendar-o</option> VM41:4
                                        <option value="fa-camera">fa-camera</option> VM41:4
                                        <option value="fa-camera-retro">fa-camera-retro</option> VM41:4
                                        <option value="fa-caret-square-o-down">fa-caret-square-o-down</option> VM41:4
                                        <option value="fa-caret-square-o-left">fa-caret-square-o-left</option> VM41:4
                                        <option value="fa-caret-square-o-right">fa-caret-square-o-right</option> VM41:4
                                        <option value="fa-caret-square-o-up">fa-caret-square-o-up</option> VM41:4
                                        <option value="fa-certificate">fa-certificate</option> VM41:4
                                        <option value="fa-check">fa-check</option> VM41:4
                                        <option value="fa-check-circle">fa-check-circle</option> VM41:4
                                        <option value="fa-check-circle-o">fa-check-circle-o</option> VM41:4
                                        <option value="fa-check-square">fa-check-square</option> VM41:4
                                        <option value="fa-check-square-o">fa-check-square-o</option> VM41:4
                                        <option value="fa-circle">fa-circle</option> VM41:4
                                        <option value="fa-circle-o">fa-circle-o</option> VM41:4
                                        <option value="fa-clock-o">fa-clock-o</option> VM41:4
                                        <option value="fa-cloud">fa-cloud</option> VM41:4
                                        <option value="fa-cloud-download">fa-cloud-download</option> VM41:4
                                        <option value="fa-cloud-upload">fa-cloud-upload</option> VM41:4
                                        <option value="fa-code">fa-code</option> VM41:4
                                        <option value="fa-code-fork">fa-code-fork</option> VM41:4
                                        <option value="fa-coffee">fa-coffee</option> VM41:4
                                        <option value="fa-cog">fa-cog</option> VM41:4
                                        <option value="fa-cogs">fa-cogs</option> VM41:4
                                        <option value="fa-comment">fa-comment</option> VM41:4
                                        <option value="fa-comment-o">fa-comment-o</option> VM41:4
                                        <option value="fa-comments">fa-comments</option> VM41:4
                                        <option value="fa-comments-o">fa-comments-o</option> VM41:4
                                        <option value="fa-compass">fa-compass</option> VM41:4
                                        <option value="fa-credit-card">fa-credit-card</option> VM41:4
                                        <option value="fa-crop">fa-crop</option> VM41:4
                                        <option value="fa-crosshairs">fa-crosshairs</option> VM41:4
                                        <option value="fa-cutlery">fa-cutlery</option> VM41:4
                                        <option value="fa-dashboard">fa-dashboard</option> VM41:4
                                        <option value="fa-desktop">fa-desktop</option> VM41:4
                                        <option value="fa-dot-circle-o">fa-dot-circle-o</option> VM41:4
                                        <option value="fa-download">fa-download</option> VM41:4
                                        <option value="fa-edit">fa-edit</option> VM41:4
                                        <option value="fa-ellipsis-h">fa-ellipsis-h</option> VM41:4
                                        <option value="fa-ellipsis-v">fa-ellipsis-v</option> VM41:4
                                        <option value="fa-envelope">fa-envelope</option> VM41:4
                                        <option value="fa-envelope-o">fa-envelope-o</option> VM41:4
                                        <option value="fa-eraser">fa-eraser</option> VM41:4
                                        <option value="fa-exchange">fa-exchange</option> VM41:4
                                        <option value="fa-exclamation">fa-exclamation</option> VM41:4
                                        <option value="fa-exclamation-circle">fa-exclamation-circle</option> VM41:4
                                        <option value="fa-exclamation-triangle">fa-exclamation-triangle</option> VM41:4
                                        <option value="fa-external-link">fa-external-link</option> VM41:4
                                        <option value="fa-external-link-square">fa-external-link-square</option> VM41:4
                                        <option value="fa-eye">fa-eye</option> VM41:4
                                        <option value="fa-eye-slash">fa-eye-slash</option> VM41:4
                                        <option value="fa-female">fa-female</option> VM41:4
                                        <option value="fa-fighter-jet">fa-fighter-jet</option> VM41:4
                                        <option value="fa-film">fa-film</option> VM41:4
                                        <option value="fa-filter">fa-filter</option> VM41:4
                                        <option value="fa-fire">fa-fire</option> VM41:4
                                        <option value="fa-fire-extinguisher">fa-fire-extinguisher</option> VM41:4
                                        <option value="fa-flag">fa-flag</option> VM41:4
                                        <option value="fa-flag-checkered">fa-flag-checkered</option> VM41:4
                                        <option value="fa-flag-o">fa-flag-o</option> VM41:4
                                        <option value="fa-flash">fa-flash</option> VM41:4
                                        <option value="fa-flask">fa-flask</option> VM41:4
                                        <option value="fa-folder">fa-folder</option> VM41:4
                                        <option value="fa-folder-o">fa-folder-o</option> VM41:4
                                        <option value="fa-folder-open">fa-folder-open</option> VM41:4
                                        <option value="fa-folder-open-o">fa-folder-open-o</option> VM41:4
                                        <option value="fa-frown-o">fa-frown-o</option> VM41:4
                                        <option value="fa-gamepad">fa-gamepad</option> VM41:4
                                        <option value="fa-gavel">fa-gavel</option> VM41:4
                                        <option value="fa-gear">fa-gear</option> VM41:4
                                        <option value="fa-gears">fa-gears</option> VM41:4
                                        <option value="fa-gift">fa-gift</option> VM41:4
                                        <option value="fa-glass">fa-glass</option> VM41:4
                                        <option value="fa-globe">fa-globe</option> VM41:4
                                        <option value="fa-users">fa-users</option> VM41:4
                                        <option value="fa-hdd-o">fa-hdd-o</option> VM41:4
                                        <option value="fa-headphones">fa-headphones</option> VM41:4
                                        <option value="fa-heart">fa-heart</option> VM41:4
                                        <option value="fa-heart-o">fa-heart-o</option> VM41:4
                                        <option value="fa-home">fa-home</option> VM41:4
                                        <option value="fa-inbox">fa-inbox</option> VM41:4
                                        <option value="fa-info">fa-info</option> VM41:4
                                        <option value="fa-info-circle">fa-info-circle</option> VM41:4
                                        <option value="fa-key">fa-key</option> VM41:4
                                        <option value="fa-keyboard-o">fa-keyboard-o</option> VM41:4
                                        <option value="fa-laptop">fa-laptop</option> VM41:4
                                        <option value="fa-leaf">fa-leaf</option> VM41:4
                                        <option value="fa-legal">fa-legal</option> VM41:4
                                        <option value="fa-lemon-o">fa-lemon-o</option> VM41:4
                                        <option value="fa-level-down">fa-level-down</option> VM41:4
                                        <option value="fa-level-up">fa-level-up</option> VM41:4
                                        <option value="fa-lightbulb-o">fa-lightbulb-o</option> VM41:4
                                        <option value="fa-location-arrow">fa-location-arrow</option> VM41:4
                                        <option value="fa-lock">fa-lock</option> VM41:4
                                        <option value="fa-magic">fa-magic</option> VM41:4
                                        <option value="fa-magnet">fa-magnet</option> VM41:4
                                        <option value="fa-mail-forward">fa-mail-forward</option> VM41:4
                                        <option value="fa-mail-reply">fa-mail-reply</option> VM41:4
                                        <option value="fa-mail-reply-all">fa-mail-reply-all</option> VM41:4
                                        <option value="fa-male">fa-male</option> VM41:4
                                        <option value="fa-map-marker">fa-map-marker</option> VM41:4
                                        <option value="fa-meh-o">fa-meh-o</option> VM41:4
                                        <option value="fa-microphone">fa-microphone</option> VM41:4
                                        <option value="fa-microphone-slash">fa-microphone-slash</option> VM41:4
                                        <option value="fa-minus">fa-minus</option> VM41:4
                                        <option value="fa-minus-circle">fa-minus-circle</option> VM41:4
                                        <option value="fa-minus-square">fa-minus-square</option> VM41:4
                                        <option value="fa-minus-square-o">fa-minus-square-o</option> VM41:4
                                        <option value="fa-mobile">fa-mobile</option> VM41:4
                                        <option value="fa-mobile-phone">fa-mobile-phone</option> VM41:4
                                        <option value="fa-money">fa-money</option> VM41:4
                                        <option value="fa-moon-o">fa-moon-o</option> VM41:4
                                        <option value="fa-music">fa-music</option> VM41:4
                                        <option value="fa-pencil">fa-pencil</option> VM41:4
                                        <option value="fa-pencil-square">fa-pencil-square</option> VM41:4
                                        <option value="fa-pencil-square-o">fa-pencil-square-o</option> VM41:4
                                        <option value="fa-phone">fa-phone</option> VM41:4
                                        <option value="fa-phone-square">fa-phone-square</option> VM41:4
                                        <option value="fa-picture-o">fa-picture-o</option> VM41:4
                                        <option value="fa-plane">fa-plane</option> VM41:4
                                        <option value="fa-plus">fa-plus</option> VM41:4
                                        <option value="fa-plus-circle">fa-plus-circle</option> VM41:4
                                        <option value="fa-plus-square">fa-plus-square</option> VM41:4
                                        <option value="fa-plus-square-o">fa-plus-square-o</option> VM41:4
                                        <option value="fa-power-off">fa-power-off</option> VM41:4
                                        <option value="fa-print">fa-print</option> VM41:4
                                        <option value="fa-puzzle-piece">fa-puzzle-piece</option> VM41:4
                                        <option value="fa-qrcode">fa-qrcode</option> VM41:4
                                        <option value="fa-question">fa-question</option> VM41:4
                                        <option value="fa-question-circle">fa-question-circle</option> VM41:4
                                        <option value="fa-quote-left">fa-quote-left</option> VM41:4
                                        <option value="fa-quote-right">fa-quote-right</option> VM41:4
                                        <option value="fa-random">fa-random</option> VM41:4
                                        <option value="fa-refresh">fa-refresh</option> VM41:4
                                        <option value="fa-reply">fa-reply</option> VM41:4
                                        <option value="fa-reply-all">fa-reply-all</option> VM41:4
                                        <option value="fa-retweet">fa-retweet</option> VM41:4
                                        <option value="fa-road">fa-road</option> VM41:4
                                        <option value="fa-rocket">fa-rocket</option> VM41:4
                                        <option value="fa-rss">fa-rss</option> VM41:4
                                        <option value="fa-rss-square">fa-rss-square</option> VM41:4
                                        <option value="fa-search">fa-search</option> VM41:4
                                        <option value="fa-search-minus">fa-search-minus</option> VM41:4
                                        <option value="fa-search-plus">fa-search-plus</option> VM41:4
                                        <option value="fa-share">fa-share</option> VM41:4
                                        <option value="fa-share-square">fa-share-square</option> VM41:4
                                        <option value="fa-share-square-o">fa-share-square-o</option> VM41:4
                                        <option value="fa-shield">fa-shield</option> VM41:4
                                        <option value="fa-shopping-cart">fa-shopping-cart</option> VM41:4
                                        <option value="fa-sign-in">fa-sign-in</option> VM41:4
                                        <option value="fa-sign-out">fa-sign-out</option> VM41:4
                                        <option value="fa-signal">fa-signal</option> VM41:4
                                        <option value="fa-sitemap">fa-sitemap</option> VM41:4
                                        <option value="fa-smile-o">fa-smile-o</option> VM41:4
                                        <option value="fa-sort">fa-sort</option> VM41:4
                                        <option value="fa-sort-alpha-asc">fa-sort-alpha-asc</option> VM41:4
                                        <option value="fa-sort-alpha-desc">fa-sort-alpha-desc</option> VM41:4
                                        <option value="fa-sort-amount-asc">fa-sort-amount-asc</option> VM41:4
                                        <option value="fa-sort-amount-desc">fa-sort-amount-desc</option> VM41:4
                                        <option value="fa-sort-asc">fa-sort-asc</option> VM41:4
                                        <option value="fa-sort-desc">fa-sort-desc</option> VM41:4
                                        <option value="fa-sort-down">fa-sort-down</option> VM41:4
                                        <option value="fa-sort-numeric-asc">fa-sort-numeric-asc</option> VM41:4
                                        <option value="fa-sort-numeric-desc">fa-sort-numeric-desc</option> VM41:4
                                        <option value="fa-sort-up">fa-sort-up</option> VM41:4
                                        <option value="fa-spinner">fa-spinner</option> VM41:4
                                        <option value="fa-square">fa-square</option> VM41:4
                                        <option value="fa-square-o">fa-square-o</option> VM41:4
                                        <option value="fa-star">fa-star</option> VM41:4
                                        <option value="fa-star-half">fa-star-half</option> VM41:4
                                        <option value="fa-star-half-empty">fa-star-half-empty</option> VM41:4
                                        <option value="fa-star-half-full">fa-star-half-full</option> VM41:4
                                        <option value="fa-star-half-o">fa-star-half-o</option> VM41:4
                                        <option value="fa-star-o">fa-star-o</option> VM41:4
                                        <option value="fa-subscript">fa-subscript</option> VM41:4
                                        <option value="fa-suitcase">fa-suitcase</option> VM41:4
                                        <option value="fa-sun-o">fa-sun-o</option> VM41:4
                                        <option value="fa-superscript">fa-superscript</option> VM41:4
                                        <option value="fa-tablet">fa-tablet</option> VM41:4
                                        <option value="fa-tachometer">fa-tachometer</option> VM41:4
                                        <option value="fa-tag">fa-tag</option> VM41:4
                                        <option value="fa-tags">fa-tags</option> VM41:4
                                        <option value="fa-tasks">fa-tasks</option> VM41:4
                                        <option value="fa-terminal">fa-terminal</option> VM41:4
                                        <option value="fa-thumb-tack">fa-thumb-tack</option> VM41:4
                                        <option value="fa-thumbs-down">fa-thumbs-down</option> VM41:4
                                        <option value="fa-thumbs-o-down">fa-thumbs-o-down</option> VM41:4
                                        <option value="fa-thumbs-o-up">fa-thumbs-o-up</option> VM41:4
                                        <option value="fa-thumbs-up">fa-thumbs-up</option> VM41:4
                                        <option value="fa-ticket">fa-ticket</option> VM41:4
                                        <option value="fa-times">fa-times</option> VM41:4
                                        <option value="fa-times-circle">fa-times-circle</option> VM41:4
                                        <option value="fa-times-circle-o">fa-times-circle-o</option> VM41:4
                                        <option value="fa-tint">fa-tint</option> VM41:4
                                        <option value="fa-toggle-down">fa-toggle-down</option> VM41:4
                                        <option value="fa-toggle-left">fa-toggle-left</option> VM41:4
                                        <option value="fa-toggle-right">fa-toggle-right</option> VM41:4
                                        <option value="fa-toggle-up">fa-toggle-up</option> VM41:4
                                        <option value="fa-trash-o">fa-trash-o</option> VM41:4
                                        <option value="fa-trophy">fa-trophy</option> VM41:4
                                        <option value="fa-truck">fa-truck</option> VM41:4
                                        <option value="fa-umbrella">fa-umbrella</option> VM41:4
                                        <option value="fa-unlock">fa-unlock</option> VM41:4
                                        <option value="fa-unlock-alt">fa-unlock-alt</option> VM41:4
                                        <option value="fa-unsorted">fa-unsorted</option> VM41:4
                                        <option value="fa-upload">fa-upload</option> VM41:4
                                        <option value="fa-user">fa-user</option> VM41:4
                                        <option value="fa-users">fa-users</option> VM41:4
                                        <option value="fa-video-camera">fa-video-camera</option> VM41:4
                                        <option value="fa-volume-down">fa-volume-down</option> VM41:4
                                        <option value="fa-volume-off">fa-volume-off</option> VM41:4
                                        <option value="fa-volume-up">fa-volume-up</option> VM41:4
                                        <option value="fa-warning">fa-warning</option> VM41:4
                                        <option value="fa-wheelchair">fa-wheelchair</option> VM41:4
                                        <option value="fa-wrench">fa-wrench</option> VM41:4
                                        <option value="fa-check-square">fa-check-square</option> VM41:4
                                        <option value="fa-check-square-o">fa-check-square-o</option> VM41:4
                                        <option value="fa-circle">fa-circle</option> VM41:4
                                        <option value="fa-circle-o">fa-circle-o</option> VM41:4
                                        <option value="fa-dot-circle-o">fa-dot-circle-o</option> VM41:4
                                        <option value="fa-minus-square">fa-minus-square</option> VM41:4
                                        <option value="fa-minus-square-o">fa-minus-square-o</option> VM41:4
                                        <option value="fa-plus-square">fa-plus-square</option> VM41:4
                                        <option value="fa-plus-square-o">fa-plus-square-o</option> VM41:4
                                        <option value="fa-square">fa-square</option> VM41:4
                                        <option value="fa-square-o">fa-square-o</option> VM41:4
                                        <option value="fa-bitcoin">fa-bitcoin</option> VM41:4
                                        <option value="fa-btc">fa-btc</option> VM41:4
                                        <option value="fa-cny">fa-cny</option> VM41:4
                                        <option value="fa-dollar">fa-dollar</option> VM41:4
                                        <option value="fa-eur">fa-eur</option> VM41:4
                                        <option value="fa-euro">fa-euro</option> VM41:4
                                        <option value="fa-gbp">fa-gbp</option> VM41:4
                                        <option value="fa-inr">fa-inr</option> VM41:4
                                        <option value="fa-jpy">fa-jpy</option> VM41:4
                                        <option value="fa-krw">fa-krw</option> VM41:4
                                        <option value="fa-money">fa-money</option> VM41:4
                                        <option value="fa-rmb">fa-rmb</option> VM41:4
                                        <option value="fa-rouble">fa-rouble</option> VM41:4
                                        <option value="fa-rub">fa-rub</option> VM41:4
                                        <option value="fa-ruble">fa-ruble</option> VM41:4
                                        <option value="fa-rupee">fa-rupee</option> VM41:4
                                        <option value="fa-try">fa-try</option> VM41:4
                                        <option value="fa-turkish-lira">fa-turkish-lira</option> VM41:4
                                        <option value="fa-usd">fa-usd</option> VM41:4
                                        <option value="fa-won">fa-won</option> VM41:4
                                        <option value="fa-yen">fa-yen</option> VM41:4
                                        <option value="fa-align-center">fa-align-center</option> VM41:4
                                        <option value="fa-align-justify">fa-align-justify</option> VM41:4
                                        <option value="fa-align-left">fa-align-left</option> VM41:4
                                        <option value="fa-align-right">fa-align-right</option> VM41:4
                                        <option value="fa-bold">fa-bold</option> VM41:4
                                        <option value="fa-chain">fa-chain</option> VM41:4
                                        <option value="fa-chain-broken">fa-chain-broken</option> VM41:4
                                        <option value="fa-clipboard">fa-clipboard</option> VM41:4
                                        <option value="fa-columns">fa-columns</option> VM41:4
                                        <option value="fa-copy">fa-copy</option> VM41:4
                                        <option value="fa-cut">fa-cut</option> VM41:4
                                        <option value="fa-dedent">fa-dedent</option> VM41:4
                                        <option value="fa-eraser">fa-eraser</option> VM41:4
                                        <option value="fa-file">fa-file</option> VM41:4
                                        <option value="fa-file-o">fa-file-o</option> VM41:4
                                        <option value="fa-file-text">fa-file-text</option> VM41:4
                                        <option value="fa-file-text-o">fa-file-text-o</option> VM41:4
                                        <option value="fa-files-o">fa-files-o</option> VM41:4
                                        <option value="fa-floppy-o">fa-floppy-o</option> VM41:4
                                        <option value="fa-font">fa-font</option> VM41:4
                                        <option value="fa-indent">fa-indent</option> VM41:4
                                        <option value="fa-italic">fa-italic</option> VM41:4
                                        <option value="fa-link">fa-link</option> VM41:4
                                        <option value="fa-list">fa-list</option> VM41:4
                                        <option value="fa-list-alt">fa-list-alt</option> VM41:4
                                        <option value="fa-list-ol">fa-list-ol</option> VM41:4
                                        <option value="fa-list-ul">fa-list-ul</option> VM41:4
                                        <option value="fa-outdent">fa-outdent</option> VM41:4
                                        <option value="fa-paperclip">fa-paperclip</option> VM41:4
                                        <option value="fa-paste">fa-paste</option> VM41:4
                                        <option value="fa-repeat">fa-repeat</option> VM41:4
                                        <option value="fa-rotate-left">fa-rotate-left</option> VM41:4
                                        <option value="fa-rotate-right">fa-rotate-right</option> VM41:4
                                        <option value="fa-save">fa-save</option> VM41:4
                                        <option value="fa-scissors">fa-scissors</option> VM41:4
                                        <option value="fa-strikethrough">fa-strikethrough</option> VM41:4
                                        <option value="fa-table">fa-table</option> VM41:4
                                        <option value="fa-text-height">fa-text-height</option> VM41:4
                                        <option value="fa-text-width">fa-text-width</option> VM41:4
                                        <option value="fa-th">fa-th</option> VM41:4
                                        <option value="fa-th-large">fa-th-large</option> VM41:4
                                        <option value="fa-th-list">fa-th-list</option> VM41:4
                                        <option value="fa-underline">fa-underline</option> VM41:4
                                        <option value="fa-undo">fa-undo</option> VM41:4
                                        <option value="fa-unlink">fa-unlink</option> VM41:4
                                        <option value="fa-angle-double-down">fa-angle-double-down</option> VM41:4
                                        <option value="fa-angle-double-left">fa-angle-double-left</option> VM41:4
                                        <option value="fa-angle-double-right">fa-angle-double-right</option> VM41:4
                                        <option value="fa-angle-double-up">fa-angle-double-up</option> VM41:4
                                        <option value="fa-angle-down">fa-angle-down</option> VM41:4
                                        <option value="fa-angle-left">fa-angle-left</option> VM41:4
                                        <option value="fa-angle-right">fa-angle-right</option> VM41:4
                                        <option value="fa-angle-up">fa-angle-up</option> VM41:4
                                        <option value="fa-arrow-circle-down">fa-arrow-circle-down</option> VM41:4
                                        <option value="fa-arrow-circle-left">fa-arrow-circle-left</option> VM41:4
                                        <option value="fa-arrow-circle-o-down">fa-arrow-circle-o-down</option> VM41:4
                                        <option value="fa-arrow-circle-o-left">fa-arrow-circle-o-left</option> VM41:4
                                        <option value="fa-arrow-circle-o-right">fa-arrow-circle-o-right</option> VM41:4
                                        <option value="fa-arrow-circle-o-up">fa-arrow-circle-o-up</option> VM41:4
                                        <option value="fa-arrow-circle-right">fa-arrow-circle-right</option> VM41:4
                                        <option value="fa-arrow-circle-up">fa-arrow-circle-up</option> VM41:4
                                        <option value="fa-arrow-down">fa-arrow-down</option> VM41:4
                                        <option value="fa-arrow-left">fa-arrow-left</option> VM41:4
                                        <option value="fa-arrow-right">fa-arrow-right</option> VM41:4
                                        <option value="fa-arrow-up">fa-arrow-up</option> VM41:4
                                        <option value="fa-arrows">fa-arrows</option> VM41:4
                                        <option value="fa-arrows-alt">fa-arrows-alt</option> VM41:4
                                        <option value="fa-arrows-h">fa-arrows-h</option> VM41:4
                                        <option value="fa-arrows-v">fa-arrows-v</option> VM41:4
                                        <option value="fa-caret-down">fa-caret-down</option> VM41:4
                                        <option value="fa-caret-left">fa-caret-left</option> VM41:4
                                        <option value="fa-caret-right">fa-caret-right</option> VM41:4
                                        <option value="fa-caret-square-o-down">fa-caret-square-o-down</option> VM41:4
                                        <option value="fa-caret-square-o-left">fa-caret-square-o-left</option> VM41:4
                                        <option value="fa-caret-square-o-right">fa-caret-square-o-right</option> VM41:4
                                        <option value="fa-caret-square-o-up">fa-caret-square-o-up</option> VM41:4
                                        <option value="fa-caret-up">fa-caret-up</option> VM41:4
                                        <option value="fa-chevron-circle-down">fa-chevron-circle-down</option> VM41:4
                                        <option value="fa-chevron-circle-left">fa-chevron-circle-left</option> VM41:4
                                        <option value="fa-chevron-circle-right">fa-chevron-circle-right</option> VM41:4
                                        <option value="fa-chevron-circle-up">fa-chevron-circle-up</option> VM41:4
                                        <option value="fa-chevron-down">fa-chevron-down</option> VM41:4
                                        <option value="fa-chevron-left">fa-chevron-left</option> VM41:4
                                        <option value="fa-chevron-right">fa-chevron-right</option> VM41:4
                                        <option value="fa-chevron-up">fa-chevron-up</option> VM41:4
                                        <option value="fa-hand-o-down">fa-hand-o-down</option> VM41:4
                                        <option value="fa-hand-o-left">fa-hand-o-left</option> VM41:4
                                        <option value="fa-hand-o-right">fa-hand-o-right</option> VM41:4
                                        <option value="fa-hand-o-up">fa-hand-o-up</option> VM41:4
                                        <option value="fa-long-arrow-down">fa-long-arrow-down</option> VM41:4
                                        <option value="fa-long-arrow-left">fa-long-arrow-left</option> VM41:4
                                        <option value="fa-long-arrow-right">fa-long-arrow-right</option> VM41:4
                                        <option value="fa-long-arrow-up">fa-long-arrow-up</option> VM41:4
                                        <option value="fa-toggle-down">fa-toggle-down</option> VM41:4
                                        <option value="fa-toggle-left">fa-toggle-left</option> VM41:4
                                        <option value="fa-toggle-right">fa-toggle-right</option> VM41:4
                                        <option value="fa-toggle-up">fa-toggle-up</option> VM41:4
                                        <option value="fa-arrows-alt">fa-arrows-alt</option> VM41:4
                                        <option value="fa-backward">fa-backward</option> VM41:4
                                        <option value="fa-compress">fa-compress</option> VM41:4
                                        <option value="fa-eject">fa-eject</option> VM41:4
                                        <option value="fa-expand">fa-expand</option> VM41:4
                                        <option value="fa-fast-backward">fa-fast-backward</option> VM41:4
                                        <option value="fa-fast-forward">fa-fast-forward</option> VM41:4
                                        <option value="fa-forward">fa-forward</option> VM41:4
                                        <option value="fa-pause">fa-pause</option> VM41:4
                                        <option value="fa-play">fa-play</option> VM41:4
                                        <option value="fa-play-circle">fa-play-circle</option> VM41:4
                                        <option value="fa-play-circle-o">fa-play-circle-o</option> VM41:4
                                        <option value="fa-step-backward">fa-step-backward</option> VM41:4
                                        <option value="fa-step-forward">fa-step-forward</option> VM41:4
                                        <option value="fa-stop">fa-stop</option> VM41:4
                                        <option value="fa-youtube-play">fa-youtube-play</option> VM41:4
                                        <option value="fa-adn">fa-adn</option> VM41:4
                                        <option value="fa-android">fa-android</option> VM41:4
                                        <option value="fa-apple">fa-apple</option> VM41:4
                                        <option value="fa-bitbucket">fa-bitbucket</option> VM41:4
                                        <option value="fa-bitbucket-square">fa-bitbucket-square</option> VM41:4
                                        <option value="fa-bitcoin">fa-bitcoin</option> VM41:4
                                        <option value="fa-btc">fa-btc</option> VM41:4
                                        <option value="fa-css3">fa-css3</option> VM41:4
                                        <option value="fa-dribbble">fa-dribbble</option> VM41:4
                                        <option value="fa-dropbox">fa-dropbox</option> VM41:4
                                        <option value="fa-facebook">fa-facebook</option> VM41:4
                                        <option value="fa-facebook-square">fa-facebook-square</option> VM41:4
                                        <option value="fa-flickr">fa-flickr</option> VM41:4
                                        <option value="fa-foursquare">fa-foursquare</option> VM41:4
                                        <option value="fa-github">fa-github</option> VM41:4
                                        <option value="fa-github-alt">fa-github-alt</option> VM41:4
                                        <option value="fa-github-square">fa-github-square</option> VM41:4
                                        <option value="fa-gittip">fa-gittip</option> VM41:4
                                        <option value="fa-google-plus">fa-google-plus</option> VM41:4
                                        <option value="fa-google-plus-square">fa-google-plus-square</option> VM41:4
                                        <option value="fa-html5">fa-html5</option> VM41:4
                                        <option value="fa-instagram">fa-instagram</option> VM41:4
                                        <option value="fa-linkedin">fa-linkedin</option> VM41:4
                                        <option value="fa-linkedin-square">fa-linkedin-square</option> VM41:4
                                        <option value="fa-linux">fa-linux</option> VM41:4
                                        <option value="fa-maxcdn">fa-maxcdn</option> VM41:4
                                        <option value="fa-pagelines">fa-pagelines</option> VM41:4
                                        <option value="fa-pinterest">fa-pinterest</option> VM41:4
                                        <option value="fa-pinterest-square">fa-pinterest-square</option> VM41:4
                                        <option value="fa-renren">fa-renren</option> VM41:4
                                        <option value="fa-skype">fa-skype</option> VM41:4
                                        <option value="fa-stack-exchange">fa-stack-exchange</option> VM41:4
                                        <option value="fa-stack-overflow">fa-stack-overflow</option> VM41:4
                                        <option value="fa-trello">fa-trello</option> VM41:4
                                        <option value="fa-tumblr">fa-tumblr</option> VM41:4
                                        <option value="fa-tumblr-square">fa-tumblr-square</option> VM41:4
                                        <option value="fa-twitter">fa-twitter</option> VM41:4
                                        <option value="fa-twitter-square">fa-twitter-square</option> VM41:4
                                        <option value="fa-vimeo-square">fa-vimeo-square</option> VM41:4
                                        <option value="fa-vk">fa-vk</option> VM41:4
                                        <option value="fa-weibo">fa-weibo</option> VM41:4
                                        <option value="fa-windows">fa-windows</option> VM41:4
                                        <option value="fa-xing">fa-xing</option> VM41:4
                                        <option value="fa-xing-square">fa-xing-square</option> VM41:4
                                        <option value="fa-youtube">fa-youtube</option> VM41:4
                                        <option value="fa-youtube-play">fa-youtube-play</option> VM41:4
                                        <option value="fa-youtube-square">fa-youtube-square</option> VM41:4
                                        <option value="fa-ambulance">fa-ambulance</option> VM41:4
                                        <option value="fa-h-square">fa-h-square</option> VM41:4
                                        <option value="fa-hospital-o">fa-hospital-o</option> VM41:4
                                        <option value="fa-medkit">fa-medkit</option> VM41:4
                                        <option value="fa-plus-square">fa-plus-square</option> VM41:4
                                        <option value="fa-stethoscope">fa-stethoscope</option> VM41:4
                                        <option value="fa-user-md">fa-user-md</option> VM41:4
                                        <option value="fa-wheelchair">fa-wheelchair</option>
								</select>
							  </div>
							  <div class="form-group">
								<label for="exampleInputPassword1">Controller</label>
								<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Icone ex.: HomeController" ng-model="menu.controller">
							  </div>
							  
							  <div class="form-group">
								<label for="exampleInputPassword1">Partial</label>
								<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Icone ex.: _home.html" ng-model="menu.partial">
							  </div>
							  <button type="submit" class="btn btn-success" ng-click="salvarMenu()">Salvar</button>
						</form>
						</div>
					</div>
					<!-- /BASIC -->
				</div>
				<div class="col-md-12">
						<!-- BOX -->
						<div class="box border purple">
							<div class="box-title">
								<h4><i class="fa fa-table"></i>Menus</h4>
							</div>
							<div class="box-body">
								
								<table id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable2_info">
									<thead>
										<tr role="row">
										    <th width="20%" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" >Nome</th>
										    <th width="20%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" >Url</th>
										    <th width="30%" class="hidden-xs sorting" role="columnheader"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >Icone</th>
										    <th width="10%" class="hidden-xs sorting" role="columnheader"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >Controller</th>
										    <th width="10%" class="hidden-xs sorting" role="columnheader"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >Partial</th>
										    <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" >Editar</th>
										    <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" >Excluir</th>
										</tr>
									</thead>
								
									<tbody role="alert" aria-live="polite" aria-relevant="all">
									        <tr class="gradeA odd" ng-repeat="menu in menus">
												<td class=" sorting_1">{{menu.nome}}</td>
												<td class=" ">{{menu.url}}</td>
												<td class="hidden-xs "><a href="../icon/credit-card"><i class="fa {{menu.icone}}"></i> {{menu.icone}}</a></td>
												<td class="hidden-xs ">{{menu.controller}}</td>
												<td class="hidden-xs ">{{menu.partial}}</td>
												<td class="center hidden-xs "><button class="btn btn-warning fa fa-pencil" ng-click="selecionaMenu(menu)"></button></td>
												<td class="center hidden-xs "><button class="btn btn-danger fa fa-trash-o" ng-click="excluirMenu(menu)"></button></td>
											</tr>
											    
									</tbody>
								   
								</table>
							
						</div>
						<!-- /BOX -->
					</div>
		</div>
	</div>