	<div class="container">
	
    	<div class="row">
    	    <div class="col-md-12">
        	    <div class="alert alert-block alert-{{uipedido.msg.type}} fade in">
        	        <button class="close" aria-hidden="true">×</button>
        	        <p ng-bind="uipedido.msg.text"></p>
        	    </div>
    	    </div>
    	</div>
    	
		<div class="row">
			<div class="col-md-12">
               <div class="box border purple">
                   <div class="box-title">
                      <h4><i class="fa fa-table"></i>Vendas</h4>
                   </div>
                   <div class="box-body">
                      <table id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable2_info">
                         <thead>
                            <tr role="row">
                               <th width="20%" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nome</th>
                               <th width="20%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Email</th>
                               <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Editar</th>
                               <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Excluir</th>
                            </tr>
                         </thead>
                         <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <!-- ngRepeat: pedido in pedidos -->
                         </tbody>
                      </table>
                      <!-- /BOX -->
                   </div>
                </div>
					
				</div>
	</div>