
<div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1>Produtos <small>Teste de comunicação com o servidor</small></h1>
            <ol class="breadcrumb">
              <li><a href="#/"><i class="fa fa-dashboard"></i> Principal</a></li>
              <li class="active"><i class="fa fa-table"></i> Produtos</li>
            </ol>
            <div class="alert alert-info alert-dismissable" ng-show="msg && msg.text">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ msg.text }}
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
        
        <div class="col-lg-12">
        
        <div class="form-group input-group">
                
                <span class="btn"><h4>Cadastrar novo produto</h4></span>
                <button class="btn btn-success" ng-click="alternar()"><i class="fa fa-plus"></i></button>

              </div>
        </div>
        
         <div ng-show="mostrar">
      
        
          <div class="col-lg-12 formulario">

            
            <form class="">
            <fieldset>
            
            <!-- Form Name -->
            <legend>Cadastro de produto</legend>
            
            
              <div class="form-group">
                <label>Nome</label>
                <input class="form-control  " placeholder="Nome" ng-model="produto.nome">
                
              </div>
               <div class="form-group">
                <label>teste</label>
              
                 <input class="form-control  " placeholder="teste" ng-model="produto.teste">
              </div>
              <div class="form-group">
                <label>Descrição</label>
                <input class="form-control" placeholder="Descrição" ng-model="produto.descricao">
              </div>
               <div class="form-group">
                <label>Unidade</label>
                <input   class="form-control" placeholder="Unidade" ng-model="produto.unidade">
               
              </div>
               <div class="form-group">
                <label>Peso</label>
                <input  class="form-control" placeholder="Peso" ng-model="produto.peso">
              </div>
               <div class="form-group">
                <label>Fornecedor</label>
                <input class="form-control" placeholder="Fornecedor" ng-model="produto.fornecedor">
              </div>
              <div class="form-group">
                <label>Código de Barra</label>
                <input class="form-control" placeholder="Código de Barra" ng-model="produto.codbarra">
              </div>
              <div class="form-group">
                <label>Resumo</label>
                <textarea class="form-control" placeholder="Resumo" rows="3" ng-model="produto.resumo"></textarea>
              </div>

              <button type="submit" class="btn btn-success" ng-click="salvar()">Salvar</button>
              <button type="reset" class="btn btn-danger" ng-click="limpar()">Limpar</button>  

            </fieldset>
            </form>

          </div>
          </div>
          
          <br><br>          
        
          <div class="col-lg-12">
            <h2>Lista de Produtos <small>Aqui ja vem do Banco</small></h2>
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter table-striped">
                <thead>
                  <tr>
                    <th>Nome <i class="fa fa-sort"></i></th>
                    <th>Descrição <i class="fa fa-sort"></i></th>
                    <th>Unidade <i class="fa fa-sort"></i></th>
                    <th>teste</th>
                    <th>Cod. Barra <i class="fa fa-sort"></i></th>
                     
                     <th>Editar</th>
                    <th>Excluir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="produto in produtos">
                    <td>{{produto.nome}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.unidade}}</td>
                    <td>{{produto.teste}}</td>
                    <td>{{produto.codbarra}}</td>
                      <td><a type="submit" class="btn btn-warning" href="#/produto/{{produto._id}}"><i class="fa fa-pencil"></i></a></td>
                      <td><button type="submit" class="btn btn-danger" ng-click="excluir(produto)"><i class="fa fa-times"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          

       
          <div class="col-lg-6">
            <h2>Bootstrap Docs</h2>
            <p>For complete documentation, please visit <a target="_blank" href="http://getbootstrap.com/css/#tables">Bootstrap's Tables Documentation</a>.</p>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->