.wrapper{
    color:#fff;
    background-color:rgb(30, 78, 127);
}
.wrapper a{
    color:#fff;
    cursor:pointer;
}

.topo{
	background: url(../img/fundo_topo.png);
	background-repeat:repeat-x;
	height:120px;
	border-top:3px solid #1e4e7f;
}
.nav-tabs {
    position: absolute;
    bottom: -15px;
    right: 0;
    color:#ccc;
}
.nav-tabs>li.active>a{
    color: #FFF !important;
    background-color: rgb(30, 78, 127)!important;

}
.nav>li>a{
    text-transform:uppercase;
}
.logo{
	margin-top:10px;
	margin-left: -25px;
	float:left;
}

.navbar-toggle{
    color:#fff;
    border: 1px solid rgba(255, 255, 255, 1);
}
.navbar-celular{
    color:#fff;
    margin-bottom:-10px;
    background-color: rgb(30, 78, 127);
}
.navbar-celular a{
    color:#fff;
}
.navbar-celular a:hover{
    color: rgb(30, 78, 127);;
}
/* slider */
.carousel{
    padding-top:10px;
    padding-bottom: 10px;
}
.carousel-radius{
    
}
.carousel-destaque{
    border:solid 5px #fff;
    border-radius:10px;
    position: relative;
    width:100%;
    background-position: center;
    background-size: cover;
    height:300px;
}
.carousel-title{
    width:100%;
    height:45px;
    padding:5px;
    
}
.carousel-title h2, .destaque-valor h3{
    color:#fff;
    margin:0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.destaque-valor{
    position:absolute;
    bottom:0;
    padding:10px;
    height:45px;
    background-color:rgba(0,0,0,0.4);
}
.btn-ver-destaque{
    position:absolute;
    bottom:5px;
    right:5px;
}
.destaque-left{
    position:absolute;
    top:50%;
    left:-40px;
    color:rgba(205,205,205,1);
}
.destaque-right{
    position:absolute;
    top:50%;
    right: -60px;
    color:rgba(205,205,205,1);
}
.destaque-left:hover,.destaque-right:hover{
    color:rgba(255,255,255,1);
}
@media screen and (max-width: 768px) {
    .carousel-destaque{
        width:100%;
    }
    .destaque-left{
        left:0;
    }
    .destaque-right{
        right:0;
    }
}

.fone{
    right: 5px;
    position: absolute;
	font-size:30px;
	color:#1e4e7f;
	margin-top:30px;
	font-weight:100;
}

/*CONTEUDO DESTAQUE*/
.padding-top{
    margin-top:10px;
}


#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }


/*IMOVEL DETALHE*/
.imovel_titulo{
    color:rgb(25, 47, 114);
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 0px 0px 0px;
  margin-top: 8px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 15px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 15px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: 0px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  height: 60px
}
.fa-layout{margin:-6;}
/* End carousel */

.panel-contato{
    color:#fff;
    background-color:rgb(74, 146, 219);
}
 
.img-slides-imovel  {
    width:800px;
    height:600px;
}
/*IMOVEIS*/

@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";


.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

/*FOOTER*/
.footer{
	background:url(../img/background_footer.png);
	height:122px;
	clear:both;
}
.footer_texto{
	float:left;
	width:240px;
	color:white;
	font-size:14px;
	margin-top:37px;
	line-height:18px;
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #ccc;
}
.img-footer{
   margin-top: 15px;
    width: 220px;
}