.wrapper{
    color:#fff;
    background-color:rgb(30, 78, 127);
}
.wrapper a{
    color:#fff;
    cursor:pointer;
}

.topo{
	background: url(../img/fundo_topo.png);
	background-repeat:repeat-x;
	height:120px;
	border-top:3px solid #1e4e7f;
}
.nav-tabs {
    position: absolute;
    bottom: -15px;
    right: 0;
    color:#ccc;
}
.nav-tabs>li.active>a{
    color: #FFF !important;
    background-color: rgb(30, 78, 127)!important;

}
.nav>li>a{
    text-transform:uppercase;
}
.logo{
	margin-top:10px;
	margin-left: -25px;
	float:left;
}

.navbar-toggle{
    color:#fff;
    border: 1px solid rgba(255, 255, 255, 1);
}
.navbar-celular{
    color:#fff;
    margin-bottom:-10px;
    background-color: rgb(30, 78, 127);
}
.navbar-celular a{
    color:#fff;
}
.navbar-celular a:hover{
    color: rgb(30, 78, 127);;
}
/* slider */
.carousel{
    padding-top:10px;
    padding-bottom: 10px;
}
.carousel-radius{
    border-radius:10px;
}
.carousel-destaque{
    position: relative;
    width:33.3%;
    float:left;
    background-position: center;
    background-size: cover;
    height:300px;
}
.carousel-title{
    width:100%;
    height:45px;
    padding:5px;
    
}
.carousel-title h2, .destaque-valor h3{
    color:#fff;
    margin:0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.destaque-valor{
    position:absolute;
    bottom:0;
    padding:10px;
    height:45px;
    background-color:rgba(0,0,0,0.4);
}
.btn-ver-destaque{
    position:absolute;
    bottom:5px;
    right:5px;
}
.destaque-left{
    position:absolute;
    top:50%;
    left:-40px;
    color:rgba(205,205,205,1);
}
.destaque-right{
    position:absolute;
    top:50%;
    right: -60px;
    color:rgba(205,205,205,1);
}
.destaque-left:hover,.destaque-right:hover{
    color:rgba(255,255,255,1);
}
@media screen and (max-width: 768px) {
    .carousel-destaque{
        width:100%;
    }
    .destaque-left{
        left:0;
    }
    .destaque-right{
        right:0;
    }
}

.fone{
    right: 5px;
    position: absolute;
	font-size:30px;
	color:#1e4e7f;
	margin-top:30px;
	font-weight:100;
}

/*CONTEUDO DESTAQUE*/
.padding-top{
    margin-top:10px;
}

.RATINGS{
    COLOR:rgb(255, 192, 0);
}
.RATINGS>.pull-right{
    COLOR:rgb(30, 78, 127);
}

/*FOOTER*/
.footer{
	background:url(../img/background_footer.png);
	height:122px;
	clear:both;
}
.footer_texto{
	float:left;
	width:240px;
	color:white;
	font-size:14px;
	margin-top:37px;
	line-height:18px;
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #ccc;
}