html, body {
	height:100%;
	overflow:initial;
	font-family: "Titillium Web", sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
}

.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 500;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

.carousel {
	height:50%;
}

.tem,
.active,
.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 50px 0;
}

.navbar {
border-radius: 0px !important; 
}
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

.navbar-inverse .navbar-nav>li>a {
color: #FFF;
}

.ativado > a {
color: red !important;
}
.navbar-inverse .navbar-nav>li>a:hover {
color:rgb(205,32,39);
}

.carousel-caption {
    
    padding-bottom: 110px;
}

.logo h1{font-size: 74px;}
.reis{
    color:rgb(205,32,39);
}

@media (max-width: 767px) {
	.carousel-caption {
    
    padding-bottom: 5px;
}

.logo h1{font-size: 44px;}
.logo h2{font-size: 24px;}
.content-row {
		
		padding-bottom:1px;
	}
}

/*
======================
SERVICOS
======================
*/

@media (min-width: 992px){
    .col-md-4{padding-bottom:60px;}
}

@media (min-width: 100px){
    .col-md-4{padding-bottom:60px;}
}

.col-sm-6>h3{
    text-align:center;
}
.text-center {

margin: 0 auto;
}

	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
		text-align:center;
	}
	
	.line-row .hr {
		background-color: #fff;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
	
	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	.content-row {
		padding-top: 45px;
		
	}
	

.btn-primary{
    border-color:rgb(84, 84, 84)!important;
    background-color:rgb(84, 84, 84)!important;
}
.btn-reis{
    border-color:rgb(205, 32, 39)!important;
    background-color:rgb(205, 32, 39)!important;
    color:#fff;
}
.btn-primary:hover{
    border-color:rgb(64, 64, 64)!important;
    background-color:rgb(64, 64, 64)!important;
}
.large{
    width: 120% !important;
}
 .well{
  
    background-color:rgba(84, 84, 84,0.1)!important;
}

#map-canvas 
{ 
height: 510px;
width:100%;
}

footer {
    position: absolute;
    left:0px;
    margin:0;
    width:100%;
    color: #fff;
    padding-bottom: 20px;
    min-height: 30px;
    font-size: 14px;
    background: #2d2d2d;
}
footer a{
    color:rgb(205,32,39);
}
footer a:hover{
    color:#fff;
}
footer hr {
border-top: 1px solid black;
border-bottom: 1px solid rgb(64,64,64);
margin: 8px 0px 0px 0px;
}
.face{
    padding-top:60px;
}

.tell{
    padding-top:30px;
}
@media (min-width: 100px){
.col-md-4 {
padding-bottom: 0px;
}
}
