html, body {
	height:100%;
	overflow:initial;
	font-family: "Titillium Web", sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
}

.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 500;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

.carousel {
	height:50%;
}

.tem,
.active,
.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 50px 0;
}

.navbar {
border-radius: 0px !important; 
}
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

.navbar-inverse .navbar-nav>li>a {
color: #FFF;
}

.ativado > a {
color: red !important;
}
.navbar-inverse .navbar-nav>li>a:hover {
color:rgb(205,32,39);
}

.carousel-caption {
    
    padding-bottom: 110px;
}

.logo h1{font-size: 74px;}
.reis{
    color:rgb(205,32,39);
}

@media (max-width: 767px) {
	.carousel-caption {
    
    padding-bottom: 5px;
}

.logo h1{font-size: 44px;}
.logo h2{font-size: 24px;}
.content-row {
		
		padding-bottom:1px;
	}
}

/*
======================
SERVICOS
======================
*/

@media (min-width: 992px){
    .col-md-4{padding-bottom:60px;}
}

@media (min-width: 100px){
    .col-md-4{padding-bottom:60px;}
}

.col-sm-6>h3{
    text-align:center;
}
.text-center {

margin: 0 auto;
}

	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
		text-align:center;
	}
	
	.line-row .hr {
		background-color: #e4e6e5;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
	
	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	.content-row {
		padding-top: 45px;
		
	}
	

.btn-primary{
    border-color:rgb(84, 84, 84)!important;
    background-color:rgb(84, 84, 84)!important;
}
.btn-primary:hover{
    border-color:rgb(64, 64, 64)!important;
    background-color:rgb(64, 64, 64)!important;
}

 .well{
     width: 130% !important;
    background-color:rgba(84, 84, 84,0.5)!important;
}	
